extends layout

block content
  h1 Title: #{book.title}

  p #[strong Author:]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}

  div(style='margin-left:20px;margin-top:20px')

    h4 Opinions

    dl
      each opinion in book_opinions
        dt 
          a(href=opinion.reader.url) #{opinion.reader.surname}
        dd #[em  #{opinion.comments}]

        div(style='margin-left:20px;margin-top:20px')

      else
        p This book has no opinions yet.

  hr
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book

